<div class="product-list-body clearfix">
	<h3>Products list</h3>

    <button class="btn btn-primary" *ngIf="isAdmin"
        type="button"
        (click)="createProduct()">Create product
    </button>
	<app-product *ngFor="let product of products$ | async " [product]="product"
	    [isAdmin]="isAdmin"
	    (buyProduct)="onBuyProduct($event)"
	    (editProduct)="onEditProduct($event)"
	    (deleteProduct)="onDeleteProduct($event)"
	    (goToProductCard)="onGoToProductCard($event)">
    </app-product>
</div>

