<div class="shop-cart-body">
	<div *ngIf="productsList?.length > 0 else emptyBlock">
    	<h3>Products in cart</h3>
		<div><strong>Total Bill: </strong> {{totalBill}} $</div>
		<div><strong>Products in Cart:</strong> {{totalAmount}}</div>
		<button class="btn btn-danger"
			(click)="clearCart()">ClearAll</button>
		<div class="clearfix">
			<app-cart-item *ngFor="let product of productsList"
	    		[product]="product"
	    		(productAmountChange)="productAmountChange($event)"
	    		(removeProduct)="removeProduct($event)"></app-cart-item>
		</div>
	</div>
	<ng-template #emptyBlock>
 	<h3>There are no products in cart</h3>
	</ng-template>
</div>

